<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="MissingApplicationIcon">
        <!-- Make ChatActivity the launcher for xihe flavor -->
        <activity
            android:name="org.autojs.autojs.ui.ai.ChatActivity"
            android:exported="true"
            android:label="羲和"
            android:theme="@style/AppTheme.FullScreen"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
